---
import '@fontsource-variable/fraunces';
import { GraphQLClient } from 'graphql-request';
import type { WPPage } from '../types/wp';
import BlockRenderer from '@/components/BlockRenderer.astro';

const client = new GraphQLClient(`${import.meta.env.WP_DOMAIN}/graphql`);

const data = await client.request<{
  page: WPPage;
}>(`
  {
    page(id: "/", idType: URI) {
      id
      title
      slug
      blocks {
				name
				originalContent
			}
    }
  }
`);

const page = data.page;
---

<html>
  <head>
		<link rel="stylesheet" href="/src/styles/global.css" />
		<meta charset="UTF-8" />
    <title>{page.seo?.title || page.title}</title>
    <meta name="description" content={page.seo?.metaDesc} />
  </head>
  <body>
    <h1 set:html={page.title} />
    <BlockRenderer blocks={page.blocks} />
  </body>
</html>
